<!DOCTYPE html>
<html>
	<head>
		<title>{{page.title}}</title>
		<link rel="stylesheet" type="text/css" href="css/main.css">
		<link rel="icon" href="harvard.ico">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
			<li><a href="/activities">Activities</a></li>
    		</ul>
		</nav>
    
    <div class="container">
			{{content}}
		</div>
		
		<footer>
    		<ul>
        		<li>Email: <a href="mailto:ekhabiboulline@g.harvard.edu">ekhabiboulline@g.harvard.edu</a></li>
			<li>Office: Lyman 344</li>
		</ul>
		</footer>
	</body>
</html>
