<!DOCTYPE html>
<html>
	<head>
		<title>{{page.title}}</title>
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		<link rel="icon" href="/favicon.ico">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/#About">About</a></li>
			<li><a href="/#Research">Research</a></li>
			<li><a href="/#Publications">Publications</a></li>
			<li><a href="/#Service">Service</a></li>
			<li><a href="/#Instruction">Instruction</a></li>
			<li><a href="/#Funding">Funding</a></li>
			<li><a href="/#Employment">Employment</a></li>
			<li><a href="/cv.pdf">CV</a></li>
    		</ul>
		</nav>
    
		<div class="container">
			{{content}}
		</div>
	
		<footer>
    			<ul>
        			<li>Updated September 2024.</li>
			</ul>
		</footer>
	</body>
</html>
